body, html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	color: #3e1307;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 20px;
}
h2::after {
	position: absolute;
	content: "";
	background: #c1b98e;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	color: #3e1307;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #3e1307;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #695a0d;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #3e1307a8;
	border-color: rgba(231, 231, 231, 0);
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #eee;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 0 40px 0 40px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #c1b98e;
}
.on {
	background-color: #3e1307 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #c1b98e !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #c44711;
	border-color: #c44711;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f5f2ea;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #f5f2ea;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: #c1b98e;
}
.btn-custom {
	text-transform: uppercase;
	color: #777;
	background-color: transparent;
	border: 2px solid #777;
	padding: 14px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #ddd;
	border: 2px solid #c1b98e;
	background-color: #c1b98e;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	height: 90vh;
	padding: 0;
	background: url(../img/gallery/banner-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro h1 {
	font-family: 'Rochester', cursive;
	color: #f5f2ea;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #695a0d;
	font-weight: 600;
}
.intro p {
	color: #f5f2ea;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
/* Features Section */
#features {
	padding: 120px 0;
	
}
.features-container{
	display: grid;
	place-items: center;
	margin-inline: 1.5rem;
	padding-block: 5rem;
  }
  
  .card__container {
	display: grid;
	row-gap: 3.5rem;
  }
  
  .card__article {
	position: relative;
	overflow: hidden;
  }
  
  .card__img {
	width: 328px;
	height: 257px;
	border-radius: 1.5rem;
  }
  
  .card__data {
	width: 280px;
	background-color: #f6f6f6cb;
	padding: 1.5rem 2rem;
	box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
	border-radius: 1rem;
	position: absolute;
	bottom: -9rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	opacity: 0;
	transition: opacity 1s 1s;
	color: #222;
  }
  
  .card__description {
	display: block;
	font-size: 12px;
	margin-bottom: .25rem;
  }
  
  .card__title {
	font-size: var(--h2-font-size);
	font-weight: 500;
	color: var(--title-color);
	margin-bottom: .75rem;
  }
  
  .card__data p{
	text-align: justify;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
	animation: show-data 1s forwards;
	opacity: 1;
	transition: opacity .3s;
  }
  
  .card__article:hover {
	animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
	animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
	animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
	50% {
	  transform: translateY(-10rem);
	}
	100% {
	  transform: translateY(-7rem);
	}
  }
  
  @keyframes remove-overflow {
	to {
	  overflow: initial;
	}
  }
  
  @keyframes remove-data {
	0% {
	  transform: translateY(-7rem);
	}
	50% {
	  transform: translateY(-10rem);
	}
	100% {
	  transform: translateY(.5rem);
	}
  }
  
  @keyframes show-overflow {
	0% {
	  overflow: initial;
	  pointer-events: none;
	}
	50% {
	  overflow: hidden;
	}
  }
  
 

/* About Section */
#about {
	padding: 0;
	background: #695a0d;
}
#about h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#about .about-text {
	padding: 80px 0;
}
#about .about-img {
	background:linear-gradient(to bottom, #695a0d83 0%, #c1b98e6d 100%), url(../img/bg-4.jpeg) center center no-repeat;
	background-size: cover;
	height: 670px;
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
	color: #262626;
	text-align: justify;
}
/* Menu Section */
#restaurant-menu {
	padding: 100px 0 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #3e130787;
}

.slider{
    position: relative;
    width: 100%;
    height: 95%;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 400px;
    height: 388px;
    text-align: justify;
    background-color: #f5f2ea;
    border-radius: 3px;
    padding: 20px;
    transition: 0.5s;
    left:36%;
	transform: translateX(-50%);
    top: 0;
	box-shadow: 2px 2px 5px #222;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item img{
	width: 90%;
	height: 100%;
}
#next, #prev{
    position: absolute;
    top: 40%;
	width: 50px;
    color: #222;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 20%;
	right: unset;
}
#next{
    left: unset;
    right: 20%;
}
/* Gallery Section */
#gallery {
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:100vh;
	background: #695a0d;
	transform-style: preserve-3d;
}
.gallery-box{
	position: relative;
	display: flex;
	transform-style: preserve-3d;
	perspective: 500px;
}
.gallery-item{
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 150px);
	width: 300px;
	height: 400px;
	background: #c1b98e;
	transition: 0.5s;
	box-shadow: 0 0 100px rgba(0,0,0,0.5);
	transform-style: preserve-3d;
	transform-origin: bottom;
	user-select: none;
	-webkit-box-reflect: below 1px linear-gradient(transparent,transparent, #0002);
}
.gallery-item:nth-child(1){
	transform: translate3d(-250px,0,0) scale(0.8) 
	rotateY(25deg);
	z-index: 1;
}
.gallery-item:nth-child(2){
	transform: translate3d(-250px,0,0) scale(0.8) 
	rotateY(25deg);
	z-index: 2;
	
}
.gallery-item:nth-child(3){
	transform: translate3d(-150px,0,0) scale(0.9) 
	rotateY(15deg);
	z-index: 3;
}
.gallery-item:nth-child(4){
	transform: translate3d(0px,0,0) scale(1) 
	rotateY(0deg);
	z-index: 6;
}
.gallery-item:nth-child(5){
	transform: translate3d(150px,0,0) scale(0.9) 
	rotateY(-15deg);
	z-index: 3;
}
.gallery-item:nth-child(6){
	transform: translate3d(250px,0,0) scale(0.8) 
	rotateY(-25deg);
	z-index: 2;
	
}
.gallery-item:nth-child(1){
	transform: translate3d(250px,0,0) scale(0.8) 
	rotateY(-25deg);
	z-index: 1;
}

.gallery-item img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.buttons{
	position: absolute;
	bottom: 75px;
	display: flex;
	gap: 20px;
}
.buttons span{
	position: relative;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}
.buttons span:hover{
	opacity: 1;
}
.buttons span::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	rotate: -45deg;
}
.buttons span:last-child::before{
	content: '';
	position: absolute;
	left: initial;
	right: 20px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	rotate: 135deg;
}





/* Team Section */
#team {
	padding: 120px 0;
}
#team h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#team img {
	max-width: 550px;
}
#team .team-img {
	display: inline-block;
	position: relative;
}
#team p{
	text-align: justify;
}
/* Contact Section */
#contact {
	padding: 100px 0;
	background: #3e1307;
}
#contact .contact-item p {
	font-size: 15px;
	color: #777;
}
#contact .section-title {
	margin-top: 60px;
	margin-bottom: 40px;
}
#contact form {
	padding: 0;
}
#contact h3 {
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #aaa;
	padding: 20px 0;
}
#contact h3::after {
	position: absolute;
	content: "";
	background: #c44711;
	height: 2px;
	width: 40px;
	bottom: 0;
	margin-left: -20px;
	left: 50%;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #ccc;
	background-color: rgba(255,255,255,.2);
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #999;
}
.form-control:-moz-placeholder {
color: #999;
}
.form-control::-moz-placeholder {
color: #999;
}
.form-control:-ms-input-placeholder {
color: #999;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 40px 0 20px 0;
}
#footer .social {
	margin-top: -5px;
	text-align: right;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 15px;
}
#footer .social i.fa {
	font-size: 24px;
	padding: 4px;
	color: #888;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 14px;
	color: #666;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #eee;
}



 /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
	.container {
	  margin-inline: 1rem;
	}
    
	.card__data {
	  width: 250px;
	  padding: 1rem;
	}
   
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
	.card__container {
	  grid-template-columns: repeat(2, 1fr);
	  column-gap: 1.5rem;
	}
	
  }
  @media screen and (max-width: 768px){
	.slider{
		width: 100%;
		height: 95%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.item{
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 388px;
		text-align: justify;
		background-color: #f5f2ea;
		border-radius: 3px;
		padding: 20px;
		transition: 0.5s;
		box-shadow: 2px 2px 5px #222;
		left: 0;
	}
	.item img{
		width: 400px;
	}
	#next, #prev{
		position: absolute;
		top: 40%;
		color: #222;
		background-color: transparent;
		border: none;
		font-size: large;
		font-family: monospace;
		font-weight: bold;
		left: 10px;
		z-index: 5;
	}
	#next{
		left: unset;
		right: 10px;
	}
	
	#team img{
		width: 90%;
	}
  }
  /* For large devices */
  @media screen and (min-width: 1120px) {
	
	.features-container {
	  height: 100vh;
	}
  
	.card__container {
	  grid-template-columns: repeat(4, 1fr);
	}
	
	.card__data {
	  width: 316px;
	  padding-inline: 2.5rem;
	}
  }
  @media screen and (max-width: 1120px) {
	
	#next{
		right: 10px;
		z-index: 5;
	}
	#prev{
		
		left: 10px;
	}

	#team img{
		width: 90%;
	}
  }